 .main {
	width: 100%;
	height: 200px;
	position: relative;
	margin:20px auto;
}

div {
	border: 0px solid white;
	margin: 0px;
}

.layer {
	position: relative;
	height:200px;
	width: 100%;
	margin: 0px auto;
}

.layer04-panel {
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
}

.layer04-panel-label {
	width: 100%;
	height: 15%;
	color: #777;
	padding-top: 5px;
	font-size:20px;
}

.layer04-panel-chart {
	width: 100%;
	height: 85%;
}
canvas{
	width:100%!important;
}
.layer05-panel {
        position: relative;
        float: left;
        height: 100%;
        width: 100%;
}

.layer05-panel-label {
        width: 100%;
        height: 15%;
        color: #777;
        padding-top: 5px;
	font-size:20px;
}

.layer05-panel-chart {
        width: 100%;
        height: 85%;
}

